<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MK Group Buy Tracker
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <!-- search bar searches by group buy name -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" animated="true" size showCancelButton="focus"></ion-searchbar>
  
  <!-- filter by either keyboard or keycaps -->
  <ion-chip (click)="setFilteredItemsbyType('keyboard')" color="primary">
    <ion-label>Keyboards</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label (click)="setFilteredItemsbyType('keycaps')">Keycaps</ion-label>
  </ion-chip>
  <!-- reset filter -->
  <ion-chip color="danger">
    <ion-label (click)="resetItems()">Reset</ion-label>
  </ion-chip>

  <!-- sorting  -->
  <ion-item>
    <ion-label>Sort By</ion-label>
    <ion-select interface="popover" [(ngModel)]="sortTerm" (ionChange)="sortItems()">
      <ion-select-option *ngFor="let term of sortTerms" value="{{ term }}">{{ term }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- grid with card of keyboard/keycap listings -->
  <ion-grid>
    <ion-row >
      <ion-col  sizeLg="3" sizeMd="4" sizeXs="12" *ngFor="let item of data">
        <app-card [id]="item.name" routerDirection="forward" [name]="item.getName()" [type]="item.getType()" [price]="item.getPrice()" [image]="item.getImage()" [daysLeft]="item.getDaysLeft()"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
